<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<form class="form-narrow form-horizontal" method="post" th:action="@{/box/create}" th:object="${boxCreateForm}">
    <!--/* Show general error message when form contains errors */-->
    <th:block th:if="${#fields.hasErrors('${boxCreateForm.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    </th:block>
    <fieldset>
        <legend>Create a new box</legend>
        <div class="form-group" th:classappend="${#fields.hasErrors('bus')}? 'has-error'">
            <label for="bus" class="col-lg-2 control-label">Bus</label>
            <div class="col-lg-10">
                <select th:field="*{bus}" id="bus" class="form-control">
                    <option th:each="item : ${buses}" th:value="${item.name}" th:text="${item.name}">Wireframe</option>
                </select>
                <span class="help-block" th:if="${#fields.hasErrors('bus')}" th:errors="*{bus}">Incorrect bus</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
            <label for="nameBox" class="col-lg-2 control-label">Box name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="nameBox" placeholder="Box name" th:field="*{name}" />
                <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
            <label for="nameBus" class="col-lg-2 control-label">Bus name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="nameBus" placeholder="Bus name" th:field="*{name}" />
                <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Create</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <a href="/" th:href="@{/}">Go back</a>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>