<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Box - Delete</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <th:block th:if="${message != null}">
        <div th:switch="${#lists.size(message.args)}" th:remove="tag">
            <span th:case="0" th:remove="tag">
                <span th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)},
                    message=#{message.message})">&nbsp;</span>
            </span>
            <span th:case="1" th:remove="tag">
                <span th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)},
                    message=#{${message.message}(${message.args[0]})})">&nbsp;</span>
            </span>
            <span th:case="2" th:remove="tag">
                <span th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)},
                    message=#{${message.message}(${message.args[0]}, ${message.args[1]})})">&nbsp;</span>
            </span>
            <span th:case="3" th:remove="tag">
                <span th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)},
                    message=#{${message.message}(${message.args[0]}, ${message.args[1]}, ${message.args[2]})})">&nbsp;</span>
            </span>
        </div>
    </th:block>
    <form class="form-narrow form-horizontal" method="post" th:action="@{/box/delete}" th:object="${boxDeleteForm}">
        <!--/* Show general error message when form contains errors */-->
        <th:block th:if="${#fields.hasErrors('${boxDeleteForm.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">
                Alert
            </div>
        </th:block>
        <fieldset>
            <legend>Delete new box</legend>
            <div class="form-group" th:classappend="${#fields.hasErrors('bus')}? 'has-error'">
                <label for="bus" class="col-lg-2 control-label">Bus</label>
                <div class="col-lg-10">
                    <select th:field="*{bus}" id="bus" class="form-control">
                        <option th:each="item : ${buses}" th:value="${item.name}" th:text="${item.name}">Wireframe
                        </option>
                    </select>
                    <span class="help-block" th:if="${#fields.hasErrors('bus')}" th:errors="*{bus}">Incorrect bus</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('box')}? 'has-error'">
                <label for="box" class="col-lg-2 control-label">Box</label>
                <div class="col-lg-10">
                    <select th:field="*{box}" id="box" class="form-control">
                        <option value="">Select a box</option>
                    </select>
                    <span class="help-block" th:if="${#fields.hasErrors('box')}" th:errors="*{box}">Incorrect box</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Delete</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <a href="/" th:href="@{/}">Go back</a>
                </div>
            </div>
        </fieldset>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#bus').change(function () {
                $.getJSON('/boxes', {
                    busName: $(this).val(),
                    ajax: 'true'
                }, function (data) {
                    var html = '<option value="">Select a box</option>';
                    var len = data.length;
                    for (var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].name + '">'
                            + data[i].name + '</option>';
                    }
                    html += '</option>';
                    $('#box').html(html);
                });
            }).trigger('change', {
                busName: $(this).val(),
                ajax: 'true'
            })
        });
    </script>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>