<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <p>
        Welcome to Bbus !
    </p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 25%">Name</th>
                    <th></th>
                    <th style="width: 15%">Subscribe</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="bus : ${buses}">
                    <tr>
                        <th colspan="2" scope="row" th:text="${bus.name}">Onions</th>
                        <td>
                            <th:block th:if="${!bus.isSubscribed(account)}" th:remove="tag">
                                <form method="post" th:action="@{/subscribe}" th:object="${subscribeForm}">
                                    <input type="hidden" name="bus" th:value="${bus.name}" />
                                    <button type="submit" class="btn btn-primary">Subscribe</button>
                                </form>
                            </th:block>
                            <th:block th:if="${bus.isSubscribed(account)}" th:remove="tag">
                                <form method="post" th:action="@{/unsubscribe}" th:object="${subscribeForm}">
                                    <input type="hidden" name="bus" th:value="${bus.name}" />
                                    <button type="submit" class="btn btn-primary">Unsubscribe</button>
                                </form>
                            </th:block>
                        </td>
                    </tr>
                    <th:block th:if="${bus.isSubscribed(account)}" th:remove="tag">
                        <th:block th:each="box : ${bus.boxes}">
                            <tr>
                                <td colspan="3" scope="row" th:text="${'-> ' + box.key}">Onions</td>
                            </tr>
                            <th:block th:each="msg : ${box.value.messages}">
                                <tr>
                                    <td></td>
                                    <td colspan="2" scope="row" th:text="${msg.content}">Onions</td>
                                </tr>
                            </th:block>
                        </th:block>
                    </th:block>
                </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>